<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greeter Form 2</title>
</head>
<body>
    <form action="/greet2">
        <h1>Greeter Form 2</h1>
        <input type="text" placeholder="your name" name="username">
        <label for="compliments">Do you want compliments?</label>
        <input type="checkbox" id="compliments" name="wants_compliments">
        <button>Submit!</button>
    </form>
</body>
</html>
