<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav class="navbar">
    <a href="/">Home</a>
    <a href="/form">Greet1</a>
    <a href="/form2">Greet2</a>
    <a href="/lucky">Get Lucky</a>
    <a href="/hello">Hello!</a>
</nav>

<main id="content">
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <section class="messages">
        {% for category, msg in messages %}
        <p class="{{category}}">{{msg}}</p>
        {% endfor %}
    </section>
    {% endif %}
{% endwith %}
    {% block content %} {% endblock %}  
</main>

</body>
</html>
